.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.about-divide {
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: flex-start;
}

.about-skills {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.columns {
  margin-top: 55px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px
}

.main-about {
  display: flex;
  flex-direction: column;
  gap: 100px;  
}

.about-description {
  display: flex;
  flex-direction: row;
  gap: 50px;
}