.about-divide {
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: flex-start;
}

.about-skills {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.columns {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 40px
}

.about-content {
  display: flex;
  gap: 60px
}