@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

.fade-in-section {
  opacity: 0;
}

.fade-in-section.visible {
  animation: fadeIn 0.6s ease-in forwards;
  opacity: 1;
}

.fade-in-1 {
  animation-delay: 0.2s;
}

.fade-in-2 {
  animation-delay: 0.4s;
}

.fade-in-3 {
  animation-delay: 0.6s;
}

.fade-in-4 {
  animation-delay: 0.8s;
}

.fade-in-5 {
  animation-delay: 1s;
}

.fade-in-6 {
  animation-delay: 1.2s;
}

.fade-in-7 {
  animation-delay: 1.4s;
}

.fade-in-8 {
  animation-delay: 1.6s;
}

.project-cards:hover {
  background-color: #fcf7f7;
}

.project-cards:hover .card-image {
  background-color: #fcf7f7;
}

.experience-cards:hover {
  background-color: #fcf7f7;
}
.experience-cards-mobile:hover {
  background-color: #fcf7f7;
}

@keyframes animateCard {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
