.job {
  /* border-radius: 15px; */
  display: flex;
  flex-direction: row;
  gap: 29px;
  overflow: hidden;

}

.link {
  display: flex;
  flex-direction: row;
}

.skills-list {
  display: flex;
  flex-direction: row;
  gap: 10px
}