.link {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.skills-list {
  display: flex;
  gap: 10px;
}

.title-link {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experience-cards {
  display: flex;
  flex-direction: row;
  /* border-radius: 25px;
  background: #fcfcfc;
  padding: 30px; */
}

.experience-card-heading {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul {
  padding-left: 20px;
}

li.body-sub {
  list-style-type: none; /* Removes the default bullet */
  padding-left: 45px;
  background: url("../images/bullet.png") no-repeat left center;
  background-size: 36px 36px; /* Adjust the size of the bullet image */
}