.link {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.skills-list {
  display: flex;
  gap: 10px;
}

.title-link {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experience-cards {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background: #fcfcfc;
  padding: 20px;
}

.experience-card-heading {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* .stagger:nth-child(odd) {
  align-self: flex-start;
}

.stagger:nth-child(even) {
  align-self: flex-end;
} */

ul {
  padding-left: 20px;
}
