.home {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 180px;
    gap:10px;
    text-align: center;
}
