.home-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 150px;
  gap: 10px
}

.home-intros {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
  gap: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}
