.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
