.portfolio-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 100px;
}

.graphic-design {
    display: flex;
    flex-direction: column;
    width: 30vh;
    gap: 20px;
}