.graphic-design {
  display: flex;
  flex-direction: column;
  width: 30vh;
  gap: 20px;
}

.project-cards {
  padding: 25px;
  border-radius: 25px;
  background: #fcfcfc;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 40px;
}

.title-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
