.graphic-design {
  display: flex;
  flex-direction: column;
  width: 30vh;
  gap: 20px;
}

.project-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 40px;
  align-items: flex-start;
}

.title-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
