.graphic-design {
  display: flex;
  flex-direction: column;
  width: 30vh;
  gap: 20px;
}

.project-cards {
  /* background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px; */
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 40px;
}

.title-desc {
    display: flex;
    flex-direction: column;
    gap: 10px
}