li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.project {
  /* border-radius: 15px; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 550px;
  /* border: 1px solid black; */
}
