.skills {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-row {
    display: flex;
    height: 50px;
    flex-direction: column;
    padding-top: 100px;
    gap: 100px;
}

.second-row {
    display: flex;
    flex-direction: row;
    padding-top: 250px;
    gap:100px;
}

.skills img {
    height: 100px;
}