.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-row {
    display: flex;
    height: 50px;
    flex-direction: column;
    padding-top: 100px;
    gap: 100px;
}

.skills img {
    height: 100px;
}