

html {
  background-color:#edece8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: transparent;
  border-color: transparent;
}

ol li {
  list-style-type: none;
}

.cursor {
  background-color: rgb(184, 59, 59);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  
  top: 0;
  left: 0;
  pointer-events: none;
}
/* .animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
} */

/* #first {
  background-image: url(./images/4.png)
}
#second {
  background-image: url(./images/3.png)
}
#third {
  background-image: url(./images/2.png)
}
#fourth {
  background-image: url(./images/1.png)
} */