@import url('https://fonts.cdnfonts.com/css/comic-lemon');
@import url('https://fonts.googleapis.com/css?family=Baloo 2');

html {
  background-color:#e2dfdd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: transparent;
  border-color: transparent;
}
/* .animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
} */

/* #first {
  background-image: url(./images/4.png)
}
#second {
  background-image: url(./images/3.png)
}
#third {
  background-image: url(./images/2.png)
}
#fourth {
  background-image: url(./images/1.png)
} */