.lower-page {
  display: flex;
  justify-content: center;
}

.mode {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2vh;
}

.mode-relative {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2vh;
}

.nav-dots {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2vh;
  display: flex;
  flex-direction: column;
}

.large {
  margin-left: -10vw;
}
.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43vh;
  max-width: 730px
}

.highlight {
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.highlight.visible {
  transform: translateX(0);
  opacity: 1;
}
