body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "CustomFont", sans-serif;
}

button {
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
  cursor: pointer;
}

html {
  background-color: #e1d7cd;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
  color: #222021;
  margin-bottom: 0px;
  margin-top: 0px;
}

.h4-title {
  font-family: "Scheherazade New", serif;
  font-weight: 700;
  font-size: 50px;
  color: #222021;
}

.h4-sub {
  font-family: "Scheherazade New", serif;
  font-weight: 700;
  font-size: 30px;
  color: #222021;
}

h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #222021;
  white-space: nowrap;
}

h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #222021;
  font-weight: 500;
  white-space: nowrap;
}

.body-main {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #222021;
  text-align: justify;
}

.body-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #222021;
  text-align: justify;
  margin: 0px
}

.body-skill {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #e9e9e9; /* Make the original text transparent */
  margin: 0px;
  padding: 6px;
  cursor: default;
}

.line {
  border: .5px solid black;
  margin-top: 10px;
  width: 90vw;
}

.line-fade-to-right {
  border: .5px solid black;
  max-width: 700px;
  width: 100%;
}
