body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "CustomFont", sans-serif;
}

button {
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
  cursor: pointer;
}

html {
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --font-family: "EB Garamond", serif;
  --color-primary: #5b1136;
  --color-secondary: #440015;
  --color-skill: #e9e9e9;
  --font-weight-regular: 400;
  --font-weight-light: 100;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-size-small: 12px;
  --font-size-base: 16px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --font-size-h4-title: 90px;
  --font-size-h4-sub: 50px;
  --font-size-h5: 25px;
  --font-size-body-skill: 14px;
  --line-height-regular: 160%;
  --line-height-sub: 130%;
}

h4 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: var(--font-size-medium);
  color: var(--color-primary);
}

.h4-title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-h4-title);
  color: var(--color-secondary);
}

.h4-sub {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h4-sub);
  color: var(--color-secondary);
}

h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  color: var(--color-secondary);
  overflow: visible;
  display: flex;
}

h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
}

.body-main {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  color: var(--color-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
}

.body-sub {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sub);
}

.job {
  font-family: var(--font-family);
  font-size: var(--font-size-large);
  color: var(--color-primary);
  text-align: justify;
  font-weight: var(--font-weight-medium);
  margin: 0px;
  white-space: nowrap;
}

.body-skill {
  font-family: var(--font-family);
  font-size: var(--font-size-body-skill);
  color: var(--color-skill);
  margin: 0px;
  padding: 6px;
  cursor: default;
}

.small {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-primary);
  margin: 0px;
  display: flex;
  white-space: nowrap;
  font-style: italic;
}
