:root {
  --primary-color: #440015;
  --secondary-color: #5b1136;
  --light-color: #e9e9e9;
  --background-color: #f4f1f1;
  --font-main: "SUSE", sans-serif;
  --font-custom: "Megant", sans-serif;
  --font-size-large: 65px;
  --font-size-medium: 40px;
  --font-size-small: 25px;
  --font-size-body: 20px;
  --font-size-sub: 18px;
  --font-size-caption: 14px;
  --font-size-tiny: 12px;
  --line-height-body: 150%;
  --line-height-sub: 130%;
  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-weight-extra-bold: 600;
  --font-weight-heavy: 700;
}

body {
  margin: 0;
  font-family: var(--font-main), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  cursor: pointer;
}

html {
  background-color: white;
  /* #FFFDF9 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --font-family: "Poppins", sans-serif;
  --font-family-header: "Shippori Mincho", serif;
  --color-primary: black;
  --color-secondary: #7F7F7F;
  --color-light: #BEBEBE;
  --color-skill: #e9e9e9;
  --font-weight-regular: 400;
  --font-weight-light: 100;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-size-small: 10px;
  --font-size-base: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-header: 35px;
  --font-size-header-sub: 25px;
  --font-size-h5: 25px;
  --font-size-body-skill: 14px;
  --line-height-regular: 160%;
  --line-height-sub: 130%;
}

.navigation {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: var(--font-size-large);
  color: var(--color-primary);
}

.header-large {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-header);
  color: var(--color-primary);
  margin: 0px
}

.header-sub {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-header-sub);
  color: var(--color-primary);
  margin: 0px
}

h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  color: var(--color-secondary);
  overflow: visible;
  display: flex;
  overflow: visible;
}

h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
}

.body-main {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  color: var(--color-secondary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  margin: 0px;
}
.body-main-link {
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  color: var(--color-secondary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  font-style: italic;
  text-decoration: underline;
}

.body-main-link:hover {
  color: var(--color-light)
}

.body-sub {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sub);
}

.job {
  font-family: var(--font-family);
  font-size: var(--font-size-large);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  margin: 0px;
}

.body-skill {
  font-family: var(--font-family);
  font-size: var(--font-size-body-skill);
  color: var(--color-skill);
  margin: 0px;
  padding: 6px;
  cursor: default;
}

.small {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-secondary);
  margin: 0px;
  display: flex;
  white-space: nowrap;
}

.small-link {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-secondary);
  margin: 0px;
  display: flex;
  white-space: nowrap;
  font-style: italic;
  text-decoration: underline;
}

.small-link:hover {
  color: var(--color-light)
}